.about__content p {
    font-size: 1.125rem;
    line-height: 28px;
    color: #161c2db3;
    padding: 0 0 0 39px;
}
/* .about {
    margin-top: 20px;
} */

/* responsive */
@media screen and (max-width: 1080px){
    .about .title h3{
        font-size: 2rem;
        line-height: 40px;

    }
}
@media screen and (max-width: 991.98px){
    .about .about__top{
        margin: 45px 0 45px 45px;
    }
}
@media screen and (max-width: 800px){
    .about .about__top{
        margin: 15px 0 45px 15px;
    }
    .about .about__bot{
        padding-left: 17px !important;
    }
}
@media screen and (max-width: 767.98px){
    .about.inner{
        padding: 0;
    }
}
@media screen and (max-width: 736px){
    .aboutCarousel__text {
        padding-bottom: 122px;
}
}
@media screen and (max-width: 667.98px){
    .about.inner{
        padding: 80px 0;
    }
}
@media screen and (max-width: 600px){
    .about .title h3{
        font-size: 30px;
        line-height: 35px;
    }
    .about .title h6{
        font-size: 16px;
    }
}
@media screen and (max-width: 512px){
    .about.inner{
        padding: 40px 0;
    }
}
@media screen and (max-width: 414px){
    .about.inner{
        padding: 100px 0;
    }
    .about .about__top h3{
        font-size: 26px;
        line-height: 30px;
        padding: 0 5px;
    }
    .about .about__top h6{
        padding: 0 5px;
    }

}