.banner__item {
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid #eee;
    transition: all .5s ease 0s;
    position: relative;
}
.banner__item:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.bannner__top {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}
.bannner__top .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: rgba(130, 115, 252, .05);
    border-radius: 6px;
    transition: all .3s ease-in-out;
}
.banner__item:hover .icon {
    background: #ff6600;
}
.bannner__top .icon i {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
    transition: all .3s ease-in-out;
}
.banner__item:hover .icon i {
    color: #fff;
}
.banner__item p {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}
.info h4 {
    margin: 0;
    padding: 0;
}
.info h4 a {
    color: #232121;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    transition: all .5s;
}
.banner__item:hover .info h4 a {
    color: #ff6600;
}