.dinerCarousel {
    padding: 158px 0 158px;
}



.dinerCarousel__background {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-attachment: fixed;
}

.dinerCarousel__overlay {
    background: linear-gradient(to right, #ff6600, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
}

.dinerCarousel__content {
    position: relative;
    max-width: 594px;

}

.dinerCarousel__content h1 {
    font-size: 3.375rem;
    line-height: 64px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 24px;
    margin-top: 8px;
}

.dinerCarousel__content p {
    font-size: 1rem;
    line-height: 28px;
    color: #fff;
    margin-top: 24px;
}

/* RESPONSIVE  */
@media screen and (max-width: 1190px){
    .dinerCarousel__content h1{
        font-size: 3rem;
        line-height: 58px;
    }
    .dinerCarousel__content{
        margin-top: 45px;
    }

}
@media screen and (max-width: 991.98px){
    .dinerCarousel__content h1{
        font-size: 2.75rem;
        line-height: 53px;
    }
   
}
@media screen and (max-width: 799.98px){
    .dinerCarousel__content h1{
        font-size: 2.5rem;
        line-height: 50px;
    }
    .dinerCarousel__content{
        margin-top: 0;
    }
    .dinerCarousel__background {
    height: 600px;
} 
.dinerCarousel__overlay {
    height: 600px;
}
}
@media screen and (max-width: 668px){
    .dinerCarousel {
        padding: 150px 0 100px;
    }
    
}
@media screen and (max-width: 575.98px){
    .btn {
        margin-top: 10px;
}
}
@media screen and (max-width: 479.98px){
    .dinerCarousel__content h1{
        font-size: 1.75rem;
        line-height: 38px;
    }
    .dinerCarousel {
        padding: 88px 0 0;
    }
    .btn{
        padding: 10px 23px;
    }
    .dinerCarousel__background {
        height: 450px;
}
.dinerCarousel__overlay {
    height: 450px;
}
}