.popular {
    background-color: #f7f7f7;
}

.popular__item {
    width: 33%;
    position: relative;
}

.popular__item img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    filter: brightness(85%);
    transition: all .5s;
}

.popular__item img:hover {
    opacity: 0.85;
}

.popular__text {
    position: absolute;
    bottom: 13px;
    left: 60px;
}

.popular__text h5 {
    font-size: 1.375rem;
    color: white;
    font-weight: 600;
}

.popular__text p {
    font-size: 1.125rem;
    color: #ffc600;
    font-weight: 600;
}

/* responsive */
@media screen and (max-width: 767.98px) {
    .popular.inner{
        padding: 48px 0;
    }
    .popular__text{
        position: absolute;
    bottom: 0;
    left: 40px;
    }
    .popular__text h5{
        font-size: 1.125rem;
    }
    .popular__text p{
        font-size: 1rem;
        margin-top: 14px;
    }
}
@media screen and (max-width: 600px){
    .popular .title h6{
font-size: 1rem;
    }
    .popular .title h3{
        font-size: 1.875rem;
    }
}
@media screen and (max-width: 480px) {
    .popular__text {
        position: absolute;
        bottom: 2px;
        left: 37px;
    }

    .popular__text h5 {
        font-size: 18px;
    }

    .popular__text p {
        font-size: 1rem;
    }
    .popular .title h3{
        font-size: 26px;
    }
}
@media screen and (max-width: 375px){
    .popular .title h3{
        font-size: 24px;
    }
}