
.aboutCarousel__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
}
/* banner */
.banner__background{
    border: 1px solid #ededed;
    padding: 37px 29px;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
}
.banner__icon i{
    width: 70px;
    height: 70px;
    line-height: 69px;
    text-align: center;
    background-color: #f9f8ff;
    border: 1px solid #f9f8ff;
    color: #ff6600;
    border-radius: 8px;
    font-size: 25px;
    transition: all .5s;
}
.banner__background:hover .banner__icon i{
    background-color: #ff6600;
    color:white;
}
.banner__text h5{
    font-size: 1.125rem;
    color: #161c2db3;
}
.banner__text a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}
.banner__background p{
    font-size: 1.125rem;
    line-height: 28px;
    color: #161c2db3;
    margin: 20px 0 0;
}
/* deliciousness */
.deliciousness{
    position: relative;
    padding: 100px 0 167px;
}
.deliciousness__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 490px;
    filter: brightness(40%);
    

}
.deliciousness__button .btn{
   margin-top: 0; 
}
.deliciousness__button .btn--Orange{
    margin-top: 0;
    padding: 18px 50px;
}
.deliciousness h1{
    font-size: 2.8125rem;
    color:white;
   font-weight: 600;
}

/* AN HUYÊN (CODE) */

/* PLANS */
.border-dot {
    border-bottom: 2px dotted #bbb;
    padding-bottom: 10px;
}
.menu__name h6, .menu__price h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.menu__price h6 {
    color: #ff6600;
}
.menu__des p {
    margin: 10px 0 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

/* FOOTER  */

.footer__bg {
    background: #000;
}
.footer__bg a {
    text-decoration: none;
}
.footer__logo h2 {
    margin: 0;
}
.footer__logo a {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: all .5s;
}
.footer__inner p, .footer__inner ul li a {
    font-size: 17px;
    color: #a5a2a1;
    line-height: 26px;
    margin: 0;
    padding: 0;
    transition: all .5s;
}
.footer__logo a:hover, .footer__inner ul li a:hover {
    color: #ff6600;
}
.footer__inner ul li {
    list-style: none;
    margin-bottom: 10px;
}
.footer__social a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #fff;
    color: #ff6600;
    display: inline-block;
    border-radius: 6px;
    margin-right: 10px;
    transition: all .3s;
}
.footer__social a:hover {
    color: #fff;
    background-color: #ff6600;
}
.footer__inner h6.title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #fff;
}
.footer__inner form input[type='email'] {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.7);
    color: #fff;
    border-radius: 6px;
}
.footer__inner form input[type='email']:focus {
    border: 1px solid #ff6600;
    background: #fff;
}
footer .copyright {
    background: #000;
    padding: 19.2px 0;
    border-top: 1px solid rgba(255, 255, 255, .05);
}
.copyright p {
    font-size: 17px;
    align-self: center;
    line-height: 28px;
    color: #ddd;
    margin: 0;
}
.copyright p a {
    color: #ff6600;
    transition: all .5s;
    text-decoration: none;
}
.copyright p a:hover {
    color: #fff;
}
.btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    border: 2px solid #ff6600;
    background: #ff6600;
    transition: all .5s;
}

.btn-primary:hover {
    color: #fff;
    border: 2px solid #ff6600;
    background: #ff6600;
    opacity: .8;
}