#navbarDinerHeader form input.search__input {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid #fff;
    background: #fff;
    outline: none;
    position: relative;
    right: 0;
}
#navbarDinerHeader form input.search__input:focus {
    box-shadow: none;
}
#navbarDinerHeader form span.search__icon {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 15px;
    cursor: pointer;
}
.navbar button i {
    color: #fff;
    font-size: 20px;
}
.navbar-nav {
    padding-left: 100px;
}
.dinerCarousel {
    padding: 190px 0 160px;
}
.dinerCarousel__background {
    height: 350px;
    background-image: linear-gradient(to right, rgba(236, 98, 6, .98), rgba(5, 3, 0, .83)), url(../../img/banner2.jpg);
    background-position: center;
}
.dinerCarousel ul.Post-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.dinerCarousel ul.Post-page a {
    color: #ff6600;
    text-decoration: none;
}
.dinerCarousel__text {
    max-width: 100%;
    position: relative;
}
/* PLANS */
.border-dot {
    border-bottom: 2px dotted #bbb;
    padding-bottom: 10px;
}
.menu__name h6, .menu__price h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.menu__price h6 {
    color: #ff6600;
}
.menu__des p {
    margin: 10px 0 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

/* FOOTER  */

.footer__bg {
    background: #000;
}
.footer__bg a {
    text-decoration: none;
}
.footer__logo h2 {
    margin: 0;
}
.footer__logo a {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: all .5s;
}
.footer__inner p, .footer__inner ul li a {
    font-size: 17px;
    color: #a5a2a1;
    line-height: 26px;
    margin: 0;
    padding: 0;
    transition: all .5s;
}
.footer__logo a:hover, .footer__inner ul li a:hover {
    color: #ff6600;
}
.footer__inner ul li {
    list-style: none;
    margin-bottom: 10px;
}
.footer__social a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #fff;
    color: #ff6600;
    display: inline-block;
    border-radius: 6px;
    margin-right: 10px;
    transition: all .3s;
}
.footer__social a:hover {
    color: #fff;
    background-color: #ff6600;
}
.footer__inner h6.title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #fff;
}
.footer__inner form input[type='email'] {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.7);
    color: #fff;
    border-radius: 6px;
}
.footer__inner form input[type='email']:focus {
    border: 1px solid #ff6600;
    background: #fff;
}
footer .copyright {
    background: #000;
    padding: 19.2px 0;
    border-top: 1px solid rgba(255, 255, 255, .05);
}
.copyright p {
    font-size: 17px;
    align-self: center;
    line-height: 28px;
    color: #ddd;
    margin: 0;
}
.copyright p a {
    color: #ff6600;
    transition: all .5s;
    text-decoration: none;
}
.copyright p a:hover {
    color: #fff;
}
.btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    border: 2px solid #ff6600;
    background: #ff6600;
    transition: all .5s;
}

.btn-primary:hover {
    color: #fff;
    border: 2px solid #ff6600;
    background: #ff6600;
    opacity: .8;
}
@media screen and (max-width: 1280px) {
    .navbar-nav {
        padding-left: 50px;
    }
    #navbarDinerHeader .nav-link {
        padding: 10px 0;
        margin: 0 3px;
    }

}
@media screen and (max-width: 1080px){

    /* title */
    .plans .title h3 {
        font-size: 32px;
        line-height: 40px;
        
    }
    
}
@media screen and (max-width: 991px) {
    .copyright p {
        text-align: center;
    }
    .navbar-nav {
        padding-left: 0;
    }
    #navbarDinerHeader .navbar-nav {
        background-color: #eee;
    }
    .navbar-collapse {
        background: #eee;
        text-align: center;
        padding: 40px;
    }
    #navbarDinerHeader .nav-link {
        color: rgba(255, 102, 0, 0.5);
        background-color: #eee;
    }
    #navbarDinerHeader .nav-item::after {
        display: inline;
        box-shadow: none;
    }
    #navbarDinerHeader form input.search__input {
        width: 100%;
        margin-top: 10px;
        padding: 0 20px;
    }
    #navbarDinerHeader form span.search__icon {
        top: 25px;
    }
}
@media screen and (max-width: 600px){

    /* title */
    .plans .title h3 {
        font-size: 30px;
        line-height: 38px;
        
    }    
    .plans .title h6 {
        font-size: 16px;

        
    } 
}
@media screen and (max-width: 480px){

    /* title */
    .plans .title h3 {
        font-size: 26px;
        line-height: 36px;
        
    }    
}
@media screen and (max-width: 375px){

    /* title */
    .plans .title h3 {
        font-size: 24px;
        line-height: 34px;
        
    }    
    .plans .title h6 {
        font-size: 16px;
        letter-spacing: .5px;
        
    } 
}