/* Header */
/* header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header .navbar {
    padding: 40px 0;
}

header .navbar-brand {
    color: white;
    font-size: 2.25rem;
    font-weight: 600;
}

#navbarDinerHeader .nav-link {
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: all .5s;
}

#navbarDinerHeader .nav-item:hover .nav-link {
    color: #ff6600;
}

#navbarDinerHeader .form-inline {
    position: relative;
}

#navbarDinerHeade button,
input {
    padding: 15px 35px 15px 10px;
    border-radius: 6px;
    outline: none;
    border: 1px transparent;
}

#navbarDinerHeader .search__icon {
    position: absolute;
    top: 15px;
    right: 12px;

}

#navbarDinerHeader .nav-item::after {
    content: "";
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    display: block;
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all .5s;
}

#navbarDinerHeader .nav-item:hover::after {
    width: 100%;
}

#navbarDinerHeader .nav-item.active::after {
    width: 100%;
}

#navbarDinerHeader .nav-item.active .nav-link {
    color: #ff6600;
} */

/* AboutCarousel */
.aboutCarousel {
    height: 350px;
    position: relative;
}

.aboutCarousel__background {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(20%);
}

.aboutCarousel__overlay {
    background: linear-gradient(to right, #ff6600, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
}

.aboutCarousel__text {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.aboutCarousel__text a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #ff6600;
    font-weight: bold;

}

.aboutCarousel__text span {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;

}

/* AboutUs  */
.aboutUs .title:nth-of-type(1)>h3 {
    margin-bottom: 48px;
}

.aboutUs__img {
    width: 50%;
    margin-top: 42px;
}

.aboutUs__img img {
    width: 100%;
    border-radius: 8px;
}

.aboutUs .about__content p {
    padding-left: 0;
}

.aboutUs__text h2 {
    font-size: 2.375rem;
    color: #232121;
    font-weight: 600;
}



.aboutUs__bottom h3 {
    color: #232121;
    font-size: 2.375rem;
    font-weight: 600;
}

.aboutUs__bottom h5 {
    color: #ff6600;
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 600;
}

.aboutUs__bottom p {
    color: #161c2db3;
    font-size: 1.125rem;
    line-height: 28px;
    margin-top: 5px;
}

/* skills */
.skills {
    background-color: #f7f7f7;
}

.skills__img {
    width: 30%;
}

.skills__img img {
    width: 100%;
    border-radius: 6px;
}

.skills .title p {
    color: #161c2db3;
    font-size: 1.125rem;
    margin: 16px 0;
}

.progress__info h5 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress__info .progress {
    height: 6px;
    background-color: rgb(22 28 46 / 70%);
}

.progress__info .progress-bar {
    background-color: #ff6600;
}

/* team */
.team__img {
    width: 33.33%;
}

.team__img img {
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.team__text h4 {
    font-weight: 700;
    transition: all .5s;
    cursor: pointer;
}

.team__text:hover h4 {
    color: #ff6600;
}

.team__text p {
    color: #161c2db3;
}

.team__overlay {
    position: absolute;
    bottom: 131px;
    left: 116px;
    opacity: 0;
    background-color: transparent;
    transition: all .5s;
}

.team__img:hover .team__overlay {
    opacity: 1;
}

.team__overlay i {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #9d9d9d80;
    color: white;
    border-radius: 50%;
    transition: all 0.5s;
    margin-right: 5px;
}

.team__overlay i:hover {
    background-color: white;
    color: #ff6600;
}

/* responsive */
@media screen and (max-width: 1200px) {

    /* aboutUs */
    .aboutUs__img img {
        margin-top: 60px;
    }

    /* team */
    .team__overlay {
        position: absolute;
        bottom: 131px;
        left: 80px;
    }
}

@media screen and (max-width: 1080px) {

    /* skills  */
    .skills .title h3 {
        font-size: 32px;
    }

}

@media screen and (max-width: 991.98px) {

    /* aboutUs */
    .aboutUs.inner {
        padding: 50px 0;
    }

    .aboutUs .title:nth-of-type(1)>h3 {
        margin-bottom: 0;

    }

    .aboutUs__img {

        margin-top: 0;
    }

    .aboutUs .title h3 {
        font-size: 32px;
    }

    .aboutUs__img img {
        margin: 45px 0;
    }

    .aboutUs__text {
        padding-left: 0 !important;
    }

    .aboutUs__text h2 {
        font-size: 32px;
    }

    .aboutUs__text .btn--orange {
        margin-top: 13px;
    }

    /* aboutUs__bottom */
    .aboutUs__bottomContent h3 {
        font-size: 32px;
        margin-bottom: 18px;

    }

    .aboutUs__bottomText,
    .aboutUs__bottomContent {
        padding-left: 0 !important;
    }

    /* skills */
    .progress__info1 {
        padding: 30px 0 30px !important;
    }

    .skills__img:nth-of-type(2) {
        padding-left: 0;
    }

    .skills__img:nth-of-type(3) {
        padding-right: 0;
    }

    .skills.inner {
        padding: 30px 0 60px;
    }

    /* team */
    .team.inner {
        padding: 44px 0;
    }

    .team__overlay {
        position: absolute;
        bottom: 131px;
        left: 106px;
    }

    .team .title h3 {
        font-size: 32px;
    }

    .team__img:nth-of-type(3) img {
        width: 50%;
        margin-left: 188px;
        margin-top: 30px;
    }

    .team__overlay:nth-of-type(4) {
        position: absolute;
        bottom: 131px;
        left: 294px;
    }

    .team__text h4,
    .team__text p {
        font-size: 18px;
    }
    
    /* footer  */

    .copyright p {
        text-align: center;
    }
}


@media screen and (max-width: 767.98px) {

    .aboutUs__bottomText,
    .aboutUs__bottomContent {
        padding-bottom: 35px;
    }

    /* team  */
    .team__img:nth-of-type(3) img {
        width: 50%;
        margin-left: 118px;
        margin-top: 30px;
    }

    .team__overlay:nth-of-type(1),
    .team__overlay:nth-of-type(2) {
        position: absolute;
        bottom: 131px;
        left: 60px;
    }

    .team__img .overlay__end {
        position: absolute;
        bottom: 125px;
        left: 189px;
    }











}

@media screen and (max-width: 600px) {
    .aboutUs__bottomContent h3 {
        font-size: 30px;

    }

    /* team */
    .team .title h3 {
        font-size: 30px;
    }





}


@media screen and (max-width: 575.98px) {
    .aboutUs__bottom {
        padding-left: 10px;
    }

    .aboutUs__bottomText,
    .aboutUs__bottomContent {
        padding-bottom: 0;
    }

    /* skills */
    .skills {
        padding: 0 20px !important;
    }

    .team__overlay:nth-of-type(1),
    .team__overlay:nth-of-type(2) {
        position: absolute;
        bottom: 131px;
        left: 50px;
    }

    .team__img .overlay__end {
        position: absolute;
        bottom: 125px;
        left: 177px;


    }
}




@media screen and (max-width: 480px) {

    /* aboutUs */
    .aboutUs {
        padding: 0 10px;
    }

    /* aboutUs__bottom */
    .aboutUs__bottom {
        padding-left: 20px;
    }

    .aboutUs__bottomContent h3 {
        font-size: 26px;
    }

    /* team  */
    .team__img:nth-of-type(3) img {
        width: 50%;
        margin-left: 96px;
        margin-top: 30px;
    }

    .team__overlay:nth-of-type(1),
    .team__overlay:nth-of-type(2) {
        position: absolute;
        bottom: 103px;
        left: 20px;

    }

    .team__img .overlay__end {
        position: absolute;
        bottom: 102px;
        left: 124px;


    }
}

@media screen and (max-width: 375px) {

    /* aboutUs */
    .aboutCarousel__text {
        width: 51%;
    }
}





@media screen and (max-width: 360px) {

    /* aboutUs */
    .aboutCarousel__text {
        width: 53%;
    }
}